<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yourcompany.madrassat_iqraa">

    <!-- Required permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="io.flutter.app.FlutterApplication"
        android:label="مدرسة إقرأ"  <!-- Your app name here -->
        android:icon="@mipmap/ic_launcher"  <!-- App icon -->
        android:theme="@style/LaunchTheme">
        
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <!-- Add other activities/services/receivers here if needed -->
    </application>
</manifest>